.banner-abt{
    margin-left: 50px;
    height: 70px;
    font-size: xx-large;
}

.info{
    margin-left: 30px;
    margin-bottom: 30px;
}
.img-abt{
    padding-bottom: 10px;
    padding-right: 1px;
}

.abt{
    font-size: large;
    
}